body {
    margin: 0;
    padding: 0;
    background: #171b26;
    color: #fff;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
    margin: 0;
    position: relative;
    width: 100vw;
    min-height: 100vh;
}
